@import 'var-color';
@import 'var-scale';

.form-stepper {
  flex-direction: column;
}

.form-stepper__step {
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;

  &[aria-hidden="true"] {
    display: none;
    visibility: hidden;
  }

  legend {
    display: flex;
    flex-direction: column;
  }
}

.form-stepper-bottom-margin {
  margin-bottom: 4rem;
}

.form-stepper__step--hide {
  display: none;
}

.form-stepper__step--show {
  display: flex;
}

.form-stepper__optional {
  background-color: $color-gray-6;
  flex-direction: column;
  padding: $scale-1;
  margin-bottom: 2rem;
}

.flex-align-right {
  align-items: flex-end;
}

.flex-align-left {
  align-items: flex-start;
}
