{% if page.product == "weaviate" %}

<img src="https://img.shields.io/badge/stackoverflow-tag:weaviate-blue" onclick="loadBadgeLink('https://stackoverflow.com/tags/weaviate/')" style="cursor:pointer">
<img src="https://img.shields.io/badge/github-weaviate-blue" onclick="loadBadgeLink('https://github.com/semi-technologies/weaviate/issues')" style="cursor:pointer">
<img src="https://img.shields.io/travis/semi-technologies/weaviate" onclick="loadBadgeLink('https://travis-ci.org/semi-technologies/weaviate')" style="cursor:pointer">
<img src="https://img.shields.io/github/last-commit/semi-technologies/weaviate">
<script>
function loadBadgeLink(i){
    window.open(i, '_blank');
}
</script>

{% elsif page.product == "weaviate-cli" %}

<img src="https://img.shields.io/badge/stackoverflow-tag:weaviate-blue" onclick="loadBadgeLink('https://stackoverflow.com/tags/weaviate/')" style="cursor:pointer">
<img src="https://img.shields.io/badge/github-weaviate--cli-blue" onclick="loadBadgeLink('https://github.com/semi-technologies/weaviate-cli/issues')" style="cursor:pointer">
<img src="https://img.shields.io/travis/semi-technologies/weaviate-cli" onclick="loadBadgeLink('https://travis-ci.org/semi-technologies/weaviate-cli')" style="cursor:pointer">
<img src="https://img.shields.io/github/last-commit/semi-technologies/weaviate-cli">
<script>
function loadBadgeLink(i){
    window.open(i, '_blank');
}
</script>

{% elsif page.product == "weaviate playground" %}

<img src="https://img.shields.io/badge/stackoverflow-tag:weaviate-blue" onclick="loadBadgeLink('https://stackoverflow.com/tags/weaviate/')" style="cursor:pointer">
<img src="https://img.shields.io/badge/github-weaviate--playground-blue" onclick="loadBadgeLink('https://github.com/semi-technologies/weaviate-playground/issues')" style="cursor:pointer">
<img src="https://img.shields.io/travis/semi-technologies/weaviate-playgroun" onclick="loadBadgeLink('https://travis-ci.org/semi-technologies/weaviate-playground')" style="cursor:pointer">
<img src="https://img.shields.io/github/last-commit/semi-technologies/weaviate-playground">
<script>
function loadBadgeLink(i){
    window.open(i, '_blank');
}
</script>

{% endif %}