<a class="show-toc" href="#" data-toggle="toc">Table of documentation contents</a>
<sidebar id="toc" class="guide-toc-container" aria-expanded="false" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <dl class="article-toc guide-toc">
        <dd>
            <ul class="list-ui guide-toc__list-pages">
            {% assign sorted_documentation = site.documentation | sort: 'menu-order' | group_by: 'product' %}
            {% for guides in sorted_documentation %}
                {% if guides.name == page.product %}
                    <h3>{{ guides.name }}</h3>
                    {% assign sorted_menus = site.documentation | group_by: 'sub-menu' %}
                    {% for menu in sorted_menus %}
                        <li class="sub-menu">
                            {{ menu.name }}
                        </li>
                        {% for guide in site.documentation %}
                            {% if menu.name == guide.sub-menu %}
                            <li class="sub-menu-item">
                                <a href="{{guide.url}}.html" class="{% if guide.title == page.title %}current{% endif %}">{{guide.title}}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </dd>
    </dl>
</sidebar>

<style>
.list-ui .sub-menu {
    font-weight: bold;
}
.list-ui .sub-menu-item {
    margin: 0 0 0 1.75rem;
}
</style>