<!-- URL ENCODE THE QUERY (example: https://www.url-encode-decode.com/) -->
<p class="playground-demo online" style="font-size: 0.85rem; margin-top: -0.35rem;">
  🟢 Click <a href="http://playground.semi.technology/?weaviate_uri=https%3A%2F%2Fdemo.dataset.playground.semi.technology%2Fv1%2Fgraphql&graphiql&gqlquery={{ include.encoded_query }}" target="_blank" rel="nofollow">here</a> to try out this graphql example in the Weaviate Playground.
</p>

<p class="playground-demo offline" style="display: none; font-size: 0.85rem; margin-top: -0.35rem;">
  🟠 Whoops, the demo service is temporarily offline.
</p>