<meta property="og:title" content="{{ page.title }}" />
{% if page.open-graph-type %}
	<meta property="og:type" content="{{ page.open-graph-type }}" />
	<meta name="twitter:card" content="{{ page.open-graph-type }}">
{% endif %}
<meta property="og:url" content="{{ site.baseurl }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:site_name" content="SeMI Technologies" />
<meta name="twitter:site" content="@SeMI_tech">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:creator" content="@SeMI_tech">
{% if page.og-img %}
	<meta name="twitter:image" content="https://semi.technology/img/og/{{ page.og-img }}">
	<meta property="og:image" content="https://semi.technology/img/og/{{ page.og-img }}" />
	<meta itemprop="image" content="https://semi.technology/img/og/{{ page.og-img }}">
{% else %}
	<meta name="twitter:image" content="https://semi.technology/img/og/GENERAL.jpg">
	<meta property="og:image" content="https://semi.technology/img/og/GENERAL.jpg" />
	<meta itemprop="image" content="https://semi.technology/img/og/GENERAL.jpg">
{% endif %}