<ul class="cards">
    
    {% include components/card/card.html
        title="Geo data"
        inRnD=false
        bodycopy="Enrich your data with geographic data and information."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-icon-sme.svg"
        linkUrl="javascript:void(Tawk_API.toggle())"
    %}
    {% include components/card/card.html
        title="Data scraping"
        inRnD=true
        bodycopy="Add data from a variety of web-sources to enrich your datasets."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-icon-common-knowledge.svg"
        linkUrl="javascript:void(Tawk_API.toggle())"
    %}
    {% include components/card/card.html
        title="Tableau"
        bodycopy="Use Tableau to visualise your Weaviate data."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-external-tableau.svg"
        linkUrl="javascript:void(Tawk_API.toggle())"
        logoWide=true
    %}
    {% include components/card/card.html
        title="Microsoft Power BI"
        bodycopy="Use Microsoft BI to visualise your Weaviate data."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-external-powerBI.svg"
        linkUrl="javascript:void(Tawk_API.toggle())"
        logoWide=false
    %}
    {% include components/card/card.html
        title="SAP HANA"
        bodycopy="Integrate Weaviate with SAP HANA."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-external-SAP.svg"
        linkUrl="javascript:void(Tawk_API.toggle())"
        logoWide=true
    %}
    {% include components/card/card.html
        title="Excel"
        bodycopy="Integrate Weaviates API's into Excel."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-external-excel.svg"
        linkUrl="javascript:void(Tawk_API.toggle())"
        logoWide=false
    %}
    {% include components/card/card.html
        title="Salesforce"
        bodycopy="Integrate Weaviates API's with Salesforce."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-external-salesforce.svg"
        linkUrl="javascript:void(Tawk_API.toggle())"
        logoWide=false
    %}

</ul>