<div class="container">
    <nav id="js-site-nav" class="nav-main wrapper--wide">
        <ul>
            <li class="nav-main--home"><a href="/">home</a></li>
            <!-- <li class="nav-main--services"><a href="/services/">services</a></li> -->
            <li class="nav-main--products"><a href="/products/">products</a></li>
            <li class="nav-main--documentation"><a href="/documentation/">documentation</a></li>
            <!-- <li class="nav-main--use-cases"><a href="/use-cases/">use cases</a></li> -->
            <li class="nav-main--news"><a href="/news/">news</a></li>
            <li class="nav-main--about"><a href="/team/">team</a></li>
            <li class="nav-main--articles"><a href="/newsletter/">newsletter</a></li>
            <li class="nav-main--articles"><a href="/community/">community</a></li>
            <li class="nav-main--articles"><a href="/weaviate-cluster/">Weaviate Cluster Service    </a></li>
            <!-- <li class="nav-main--github"><a href="https://github.com/semi-technologies" target="_blank">github</a></li> -->
            <!-- <li class="nav-main--contact"><a href="javascript:void(Tawk_API.toggle())">contact</a></li> -->
            <li class="nav-main--github"><a class="github-button" href="https://github.com/semi-technologies/weaviate" data-size="large" data-show-count="true" aria-label="Star semi-technologies/weaviate on GitHub">Star</a></li>
        </ul>
    </nav>
</div>