<section class="layout layout--single space-layout-top--large">
    {% include molecule-section-heading.html
        title='Product Feature Comparison'
    %}

    {% comment %}
    Note: To edit this table, look for the file './_data/weaviateFeatures.yml'
    {% endcomment %}

    {% if site.data.weaviateFeatures %}
    <div class="table-container">
        <table class="table-zebra table-features">
            <thead>
            <tr>
                <th>Feature</th>
                <th class="{% if include.highlightOpenSource == true %}table__cell--highlight{% endif %}">Weaviate <br />Startup</th>
                <th class="{% if include.highlightOpenSource == true %}table__cell--highlight{% endif %}">Weaviate <br />Scaleup</th>
                <th class="{% if include.highlightOpenSource == true %}table__cell--highlight{% endif %}">Weaviate <br />Professional</th>
                <th class="{% if include.highlightOpenSource == true %}table__cell--highlight{% endif %}">Weaviate <br />Professional Plus</th>
                <th class="{% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">Weaviate <br />Enterprise</th>
                <th class="{% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">Weaviate <br />Enterprise Plus</th>
            </tr>
            </thead>
            <tbody>
            {% for feature in site.data.weaviateFeatures %}
            <tr>
                <td>{{ feature.title }}</td>
                <td
                    class="table__cell--vertically-middle {% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">
                    {% include molecule-hasFeature.html hasFeature=feature.startup %}</td>
                <td
                    class="table__cell--vertically-middle {% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">
                    {% include molecule-hasFeature.html hasFeature=feature.scaleup %}</td>
                    <td
                        class="table__cell--vertically-middle {% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">
                        {% include molecule-hasFeature.html hasFeature=feature.prof %}</td>
                    <td
                        class="table__cell--vertically-middle {% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">
                        {% include molecule-hasFeature.html hasFeature=feature.profplus %}</td>
                <td class="table__cell--vertically-middle {% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">{% include molecule-hasFeature.html hasFeature=feature.enterprise %}</td>
                <td class="table__cell--vertically-middle {% if include.highlightEnterprise == true %}table__cell--highlight{% endif %}">{% include molecule-hasFeature.html hasFeature=feature.enterpriseplus %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No data found.</p>
    {% endif %}
</section>