@import 'var-borders';
@import 'var-scale';

.template-pricing-use-case--hidden,
.template-table-pricing-row--hidden {
  display: none;
}

.template-pricing-use-case--show {
  display: flex;
}

.template-table-pricing-row--visible {
  display: table-row;
}

// TODO: move to panel collapse component file
.panel-collapse {
  flex-direction: column;
  border: $border-2;
  padding: $scale-0;
}

.panel-collapse__head {
  border-bottom: $border-2;
  margin-bottom: $scale-0;
}

.price,
.pricing-total {
  &:before {
    content: '€';
    padding-right: .5rem;
  }

}
