$chart-colors: $color-semi,$color-semi-accent,$color-interactive,$color-support,$color-almostblack-tint--4,$color-almostblack-analogous-tint--5,$color-almostblack-triadic-tint--4,$color-olive-analogous-tint--4,$color-olive-triadic-tint--4,$color-info;

//generate chart category classes
@for $i from 1 through length($chart-colors) {
    $color: nth($chart-colors, $i);
    .chart-cat-#{$i} { 
        fill: $color;
    }
}

.chart-container{
    position: relative;
}

.chart-tooltip {
    position: absolute;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 8px;
    font-size: 12px;
    color: $color-black;
    background: $color-white;	 
    pointer-events: none;
    border: 1px solid $color-gray-4;
}


.chart-cat-main{
    fill: $color-interactive;
}

.chart-axis{
    // fill: $color-semi;
    // stroke: $color-semi-accent;
    shape-rendering: crispEdges; 
}

.chart-axis text{
    fill: $color-gray-1;
}

.chart-axis path{
    stroke: $color-gray-1;
}

$axis-label-color: black;
$axis-label-font-size: 12px;

.chart-x-axis-label{
    text-anchor: end;
    fill: $axis-label-color;
    font-size: $axis-label-font-size;
}

.chart-y-axis-label{
    text-anchor: start;
    fill: $axis-label-color;
    font-size: $axis-label-font-size
}

.chart-graph-node{
    stroke: $color-white;
    stroke-width: 1.5px;
}

.chart-graph-link{
    stroke-width: 1;
    stroke: $color-gray-3;
    stroke-opacity: 0.7;
}


.chart-group  {
    stroke: $color-gray-5;
    fill: 'none';
}

.chart-group-hide{
    stroke: 'none';
    fill: 'none';
}

.chart-beeswarm-nav li {
    cursor: pointer;
}
