.charts-tooltip {
    position: absolute;
    /* // text-align: center;			
   // width: 60px;					
    // height: 20px;					 */
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 8px;
    // font-weight: 400;
    // font-family: Avenir LT W01\ 55 Roman, Arial, sans-serif;
    font-size: 12px;
    color: $color-black;
    background: $color-white;
     // border: 0px;		
    // border-radius: 8px;			 
    pointer-events: none;
    border: 1px solid $color-gray-4;
}

$chart-colors: $color-semi,$color-semi-accent,$color-interactive,$color-support,$color-almostblack-tint--4,$color-almostblack-analogous-tint--5,$color-almostblack-triadic-tint--4,$color-olive-analogous-tint--4,$color-olive-triadic-tint--4,$color-info;

//generate chart category classes
@for $i from 1 through length($chart-colors) {
    $color: nth($chart-colors, $i);
    .chart-cat-#{$i} { 
        fill: $color;
    }
}

.chart-cat-main{
    fill: $color-semi;
}

.axis{
    // fill: $color-semi;
    // stroke: $color-semi-accent;
    shape-rendering: crispEdges; 
}

.axis text{
    fill: $color-gray-1;
}

.axis path{
    stroke: $color-gray-1;
}

$axis-label-color: black;
$axis-label-font-size: 12px;

.chart-x-axis-label{
    text-anchor: end;
    fill: $axis-label-color;
    font-size: $axis-label-font-size;
}

.chart-y-axis-label{
    text-anchor: start;
    fill: $axis-label-color;
    font-size: $axis-label-font-size
}