@import 'var-scale';
@import 'var-borders';

// TODO: refactor stickyness for IE and EDGE <15
.stickyness {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 2em;
}

.receipt {
  border: $border-2;
  padding: $space-inner-x-large;
  margin-bottom: 2em;
  @extend .stickyness;

  dl {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $scale-1;
  }
  dt:not(.receipt__total),
  dd:not(.receipt__total) {
    font-size: 1em;
    font-weight: $font-weight-default;
  }
  dt {
    flex-basis: 70%;
  }
  dd {
    flex-basis: 30%;
  }
}

.receipt__entry-inactive:not(.receipt__total) {
  color: $color-gray-5;
}

.receipt__title {
  font-size: 1.3em;
}

.receipt__total {
  font-size: 1.125em;
  margin-top: 2rem;
}
