
@import 'var-scale';

.pagination {
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex: 1 0;
  }
}

.pagination-search-meta p {
  width: 100%;
  text-align: center;
}

.pagination__button-next {
  margin-left: auto;
}

// sdfsd