@import 'var-color';
@import 'var-scale';

.form-stepper {
  flex-direction: column;
}

.form-stepper__step {
  flex-direction: row;

  &[aria-hidden="true"] {
    display: none;
    visibility: hidden;
  }

  legend {
    //float: left;
    //width: 100%;
    display: flex;
  }
}

.form-stepper__step--optional {
  background-color: $color-gray-5;
  padding: $scale-1;
}

.form-stepper-table__column {
  padding: 0;
  margin: 0 $scale--1 0 0;
  flex-direction: column;
  align-items: flex-end; // right align the prices
  display: flex;

  &[type="button"] {
    appearance: none;
    border-width: $border-width-2;
    border-style: solid;
    border-color: $color-black;
  }
}

.form-stepper-table__extended-info {
  border-bottom: 1px solid $color-black;
  flex-direction: column;
  display: flex;

  // All cells of extended info are a price
  .form-stepper-table__cell {
    &:before {
      content: '€';
    }
  }
}


.flex-align-right {
  align-items: flex-end;
}

.flex-align-left {
  align-items: flex-start;
}

.form-stepper-table__columm  {}

// table
.form-stepper-table {
  display: flex;
  flex-direction: row;
}
.form-stepper-table__column {
  display: flex;
  flex-direction: column;
}
.form-stepper-table__column-info {
  border: $border-width-2 solid $color-white;
}
.form-stepper-table__column-title {

}
.form-stepper-table__cell {
  padding: $scale--1;
}
