@import 'var-color';
@import 'var-scale';

.form-stepper {
  flex-direction: column;
}

.form-stepper__step {
  flex-direction: row;

  &[aria-hidden="true"] {
    display: none;
    visibility: hidden;
  }

  legend {
    display: flex;
  }
}

.form-stepper__step--optional {
  background-color: $color-gray-6;
  padding: $scale-1;
}

.flex-align-right {
  align-items: flex-end;
}

.flex-align-left {
  align-items: flex-start;
}
