<aside class="layout__sidebar receipt">
    <div class="card__title hidden-sm">
        <strong class="receipt__title">Price Summary</strong>
    </div>
    <button class="receipt--reverse-sm-1 button--link hidden-l-up" data-toggle="collapse" data-target="collapse">Show subtotals</button>
    <div class="collapse collapse-show-on-l-up">
        <dl class="receipt--reverse-sm-2 receipt__details">
            <dt class="receipt__entry-inactive receipt__use-case">Variable monthly cost</dt>
            <dd class="receipt__entry-inactive receipt__use-case price" id="price-monthly-total">0,00</dd>
            <dt class="receipt__entry-inactive receipt__hosting">Hosting/optimization</dt>
            <dd class="receipt__entry-inactive receipt__hosting price" id="price-hosting">0,00</dd>
            <dt class="receipt__entry-inactive receipt__clusters"># of clusters</dt>
            <dd class="receipt__entry-inactive receipt__clusters price" id="price-cluster">0,00</dd>
            <dt class="receipt__entry-inactive receipt__recurring">Recurring cost per month (fixed)</dt>
            <dd class="receipt__entry-inactive receipt__recurring price" id="price-recurring">0,00</dd>
        </dl>
    </div>
    <dl class="receipt--reverse-sm-3 receipt__totals">
        <dt class="receipt__total"><strong>Estimated p/m</strong></dt>
        <dd class="receipt__total price" id="price-total"><strong>0,00</strong></dd>
        <dt class="receipt__one-time-setup">One time setup fee</dt>
        <dd class="receipt__one-time-setup price" id="price-one-time-setup">1.000</dd>
    </dl>
    <!-- TODO: make class with not-a-button styling -->
    <!--<button>Get a detailed pricing report</button>-->
    <a class="button button-receipt" href="#">Schedule a call</a>
</aside>
