<aside class="layout__sidebar receipt">
    <strong class="receipt__title">Summary</strong>
    <dl>
        <dt>Variable monthly cost</dt>
        <dd class="price" id="monthlyTotal">0,00</dd>
        <dt>Hosting Adjustment</dt>
        <dd>€ 0,00</dd>
        <dt>Optimization Adjustment</dt>
        <dd>€ 0,00</dd>
        <dt># of clusters Adjustment</dt>
        <dd>€ 0,00</dd>
        <dt>Recurring cost per month (fixed)</dt>
        <dd>€ 0,00</dd>
        <dt><strong>Total estimated usage costs</strong></dt>
        <dd><strong>€ 0,00</strong></dd>
        <dt>One time setup fee</dt>
        <dd>€ 0,00</dd>
    </dl>
</aside>