@import '../variables/var-scale';
@import '../variables/var-borders';
@import '../mixins/mixins-breakpoints';
@import '../mixins/mixins-buttons';
@import '../mixins/mixins';

.receipt {
  background-color: $color-white;
  width: 100%;

  dl {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  dt {
    flex-basis: 70%;
  }
  dd {
    flex-basis: 30%;
  }
}

.receipt__entry-inactive:not(.receipt__total) {
  color: $color-gray-5;
}

@include breakpoint(toLarge) {
  .receipt {
    border-top: $border-2;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: $space-inner-small 1em;
    position: fixed;
    flex-direction: column;
    @include shade-drawer;

    dl {
      margin-bottom: $space-inner-small;
    }
  }
  .receipt--reversed-sm {
    display: flex;
    flex-direction: column-reverse;
  }
  .receipt__details {
    display: none;
  }
  .button-receipt {
    @include button-style-small;
  }
}

@include breakpoint(largeUp) {
  .receipt {
    border: $border-2;
    margin-bottom: 2em;
    padding: $space-inner-x-large;

    dt:not(.receipt__total),
    dd:not(.receipt__total) {
      font-weight: $font-weight-default;
    }
  }
  .receipt__total {
    margin-top: 1rem;
  }
  .receipt__title {
    font-size: 1.3em;
    margin-bottom: 1.5em;
  }
  .receipt__total {
    font-size: 1.125em;
  }
  .button-receipt {
    margin-top: 2rem;
    width: 100%;
  }
  .collapse-show-on-l-up {
    display: block;
    max-height: 99em;
  }
}

.receipt__reset-form {
  float: right;
  margin-top: 3px;
}
