
@include breakpoint(largeUp) {
  .table-pricing {
    padding: 2rem;
    width: 100%;
  }
  .table-pricing__row {
    td:first-child {
      width: 60%;
    }
    td:not(:first-child) {
      text-align: right;
    }
  }
}

#template-table-pricing-row {
  display: none;
}

#template-pricing-use-case {
  display: none;
}