.panel-collapse {
  flex-direction: column;
  border: $border-2;
}

.panel-collapse__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $scale-0;
  &:hover {
    cursor: pointer;
    background-color: $color-gray-6;
  }
  &:after {
    font-family: $typeface-sans;
    font-weight: bold;
    display: inline-block;
  }
  &.panel-collapse__head--panel-shown {
    background-color: $color-gray-7;
    &:after {
      content: "−";
    }
  }
  &:not([class*="panel-collapse__head--panel-shown"]):after {
    content: "+";
  }
  h3 {
    font-size: $font-size-small;
    font-family: $typeface-sans;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.panel-collapse__body.component--show {
  padding: $scale-0;
}