@import '../variables/var-typography.scss';
@import '../variables/var-borders';
@import '../variables/var-scale';

.template-pricing-use-case--hidden,
.template-table-pricing-row--hidden {
  display: none;
}

.template-pricing-use-case--show {
  display: flex;
}

.template-table-pricing-row--visible {
  display: table-row;
}

.price,
.pricing-total {
  &:before {
    content: '€';
    padding-right: .5rem;
  }
}

// TODO: move this fieldset reset to form scss

legend {
  padding: 0;
  display: table;
  float: left;
  margin: 0;
  width: 100%;

  + * {
    clear: both;
  }
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

// TODO: move this to separate file
.pricing-hosting-button--hide {
  display: none;
}

.pricing-hosting-button--show {
  display: flex;
}

// TODO: move this to separate file
.list-buttons-radio {
  display: grid;
  margin-bottom: .5rem;

  .ui-button {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  @include breakpoint(toLarge) {
    grid-auto-flow: row;
  }

  @include breakpoint(largeUp) {
    grid-auto-flow: dense;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// TODO: move to separate file

.feature-label {
  font-size: $font-size-ui;
}
.feature-description {
  margin-top: 1rem;
  font-size: $font-size-small;
}

@include breakpoint(toLarge) {
  $sticky-receipt-height: 160px; // approximately size of the sticky receipt
  .page--calculator {
    padding-bottom: $sticky-receipt-height;
  }
}
