@import '../variables/var-scale';
@import '../variables/var-color';
@import '../variables/var-borders';
@import '../mixins/mixins-buttons';

.button,
.button--small,
button:not(.ui-button):not(.form-stepper-table__column):not(.button--link),
[type='reset'],
[type='submit'] {
  @include transition-out;
  background: $color-semi;
  border: 0 !important;
  border-radius: $border-radius-1;
  color: $color-white;
  display: inline-block;
  font-family: $typeface-body;
  font-size: 1rem;
  padding: $scale-0 $scale-2;
  text-align: center;
  &:hover, &:focus, &:active {
    @include transition-in;
    border-radius: $border-radius-2;
    outline: none;
  }
  &:focus, &:active {
    background: $color-semi-accent;
  }
}

.button:not(.button--small):not(.button-ui) {
  @include breakpoint(smallOnly) {
    width: 100%;
  }
  @include breakpoint(mediumUp) {
    min-width: 240px;
  }
}

.button--cta {
  background: $color-support;
  //color: $color-black;
  &:hover, &:focus, &:active {
    background: $color-black;
    color: $color-white
  }
}

.button--cta-inverted {
  background: $color-black;
  color: $color-white;
  &:hover, &:focus, &:active {
    background: $color-support;
  }
}

.button--small {
  @include button-style-small;
}

.button--email:before {
  background: url('/img/icon-email.svg');
  content: '';
  display: inline-block;
  height: .75em;
  margin-right: .5em;
  vertical-align: baseline;
  width: .75em;
}

.button--link {
  appearance: none;
  border: none;
  background-color: transparent;
}

.button-center-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-button {
  background-color: $color-white;
  border-width: $border-width-2;
  border-style: solid;
  border-color: $color-black;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  min-height: 88px;
  appearance: none;

  &.ui-button:not([disabled]):not(.ui-button--active):hover {
    background-color: $color-semi-accent-tint--3;
    border-color: $color-semi-accent;
  }

  &.ui-button--active {
    color: $color-white;
    background-color: $color-semi-accent;
    border-color: $color-semi-accent;

    .ui-button__radio-icon {
      border-color: $color-white;

      &:before {
        $size: .75rem;
        content: "";
        background: $color-white;
        border-radius: $size;
        display: inline-block;
        margin: 2px 0 0 2px;
        height: $size;
        width: $size;
      }
    }
  }

  &[disabled] {
    color: $color-gray-4;
    cursor: not-allowed;
    border-color: $color-gray-4;
  }

  &:not(.form-stepper-table__column) {
    padding: $space-inner-small $space-inner-medium;
  }
}

.ui-button__radio-icon  {
  border: 2px solid $color-black;
  border-radius: 1rem;
  display: flex;
  height: 1.25rem;
  margin-top: .5rem;
  width: 1.25rem;
}

.ui-button__title {
  text-align: center;
}

.ui-button__desc {
  text-align: center;
  font-size: .75em;
  max-width: 150px;
}
