---
bodyclass: ["page--guides", " "]
layout: layout-default
title: About
description: An overview of the SeMI team.
---

<article>
    <div class="container background-hexagon">
        <section class="layout layout--single section-page-intro">
            <div class="section-standout__text--centered space-header-page">
                <h1 class="title-page header--centered">About SeMI</h1>
                <div class="section-standout__text--centered">
                    <p>Hi there! We are the SeMI (semantic machine insights) team. If you are interested in working with us, you can reach out to us on <a href="mailto:hello@semi.technology">hello@semi.technology</a>. If you would like to learn how we work, check out the <a href="/playbook/#HR">SeMI Playbook</a>.</p>
                </div>
            </div>
        </section>
        <section class="wrapper--wide">
            <ul class="cards cards--load-fade-in">
                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Sales Partner USA</p>
                    <p>New York, USA</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Oliver Christie"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    imgUrl="https://media.licdn.com/dms/image/C5603AQEBVjHZLAQuhg/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=YWMGH9lBORP34If2pcffvuTdFF3pcbuEGfYINrFnLGw"
                    imgAlt="Oliver Christie"
                    linkUrl='https://www.linkedin.com/in/oliverchristie/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carOneContent
                %}

                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Sales Partner Europe</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="David van Damme"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    imgUrl="https://media.licdn.com/dms/image/C4D03AQHALs1XaN6wQg/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=TVoB5g77mgIw8TImp4AXrvPPNabHJtgy42hdCewnh3Y"
                    imgAlt="David van Damme"
                    linkUrl='https://www.linkedin.com/in/davidvandamme/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carOneContent
                %}

                {% capture carTwoContent %}
                <div class="card__intro">
                    <p>Technology Lead &amp; Co-Founder</p>
                    <p>Mannheim, Germany</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Etienne Dilocker"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="https://media.licdn.com/dms/image/C5603AQF7M3pD_doZ1w/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=ClofXe646P0Y3hcwWOvxSO78b2v-ifOnAsqfFEbPC8w"
                    imgAlt="Etienne Dilocker"
                    linkUrl='https://www.linkedin.com/in/etienne-dilocker-60727b175/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carTwoContent
                %}

                {% capture carThreeContent %}
                <div class="card__intro">
                    <p>Solution Engineer</p>
                    <p>Utrecht, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Felix Finkbeiner"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="https://media.licdn.com/dms/image/C5603AQGO4o5XL3sLHQ/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=3UXWhXqeZq9dinsSdRsKL74ngyO-EK6zIpZ-eGSPnNE"
                    imgAlt="Felix Finkbeiner"
                    linkUrl='https://www.linkedin.com/in/felix-finkbeiner/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carThreeContent
                %}
            
                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Sales Partner Europe</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Edwin Gierstberg"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    imgUrl="https://media.licdn.com/dms/image/C4E03AQHgcjsk0jKr0A/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=9chJ08Z1S8bzwS1obExy_RhMP1nxKA9PG51gFdZGuuc"
                    imgAlt="Edwin Gierstberg"
                    linkUrl='https://www.linkedin.com/in/edwingierstberg/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carOneContent
                %}
                {% capture carTwoContent %}

                <div class="card__intro">
                    <p>Community Solution Engineer</p>
                    <p>Helsinki, Finland</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Laura Ham"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="https://media.licdn.com/dms/image/C4D03AQFMWgekiUvxEw/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=ghS3bqJpcsBo2O5ABWEWexnS6dLOsoaDjWSKrbxri1Y"
                    imgAlt="Laura Ham"
                    linkUrl='https://www.linkedin.com/in/laura-ham/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carTwoContent
                %}

                {% capture carThreeContent %}
                <div class="card__intro">
                    <p>Product, Commercial, and Community Lead &amp; Co-Founder</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Bob van Luijt"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="https://media.licdn.com/dms/image/C4E03AQGjzoHbpFPYlw/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=o645yfaziQCA_9ocmAY0uKqf0kD9gJEK28lV-it_tgI"
                    imgAlt="Bob van Luijt"
                    linkUrl='https://www.linkedin.com/in/bobvanluijt/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carThreeContent
                %}

                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Finance and Operations Lead &amp; Co-Founder</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Micha Verhagen"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    imgUrl="https://media.licdn.com/dms/image/C4E03AQEoKwQ5XXYxDw/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=4W-k2KMT2jhY3JHgFGtUAp-jHl7fS8_sp6hU_sE88iM"
                    imgAlt="Micha Verhagen"
                    linkUrl='https://www.linkedin.com/in/michaverhagen/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carOneContent
                %}

                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Let us know how you can help!</p>
                    <p>Wherever you want</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="You?"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    imgUrl="/img/question-mark.svg"
                    imgAlt="You?"
                    linkUrl='mailto:hello@semi.technology'
                    linkExternal=true
                    ctaText="email us on hello@semi.technology"
                    content=carOneContent
                %}
                
            </ul>
        </section>
    </div>
</article>