---
bodyclass: ["page--guides", " "]
layout: layout-default
title: About our company
description: An overview of the SeMI team.
---

<article>
    <div class="container background-hexagon">
        <section class="layout layout--single section-page-intro">
            <div class="section-standout__text--centered space-header-page">
                <h1 class="title-page header--centered">About SeMI Technologies</h1>
                <div class="section-standout__text--centered">
                    <p>SeMI Technologies was <a href="https://twitter.com/bobvanluijt/status/1144577375453286400?s=20">founded</a> in 2019 on June 26th. It is the company around the open-source smart graph Weaviate which
                    <a href="https://github.com/semi-technologies/weaviate/commit/4d94274315f28433aa9bf2abe7f75be1f4cdbca3">saw</a> the light of day in 2016 on March 3rd.
                    </p>
                    <p>Currently, our core distributed team consists of five people and we are
                    always looking for more talent, so make sure to reach out if you are interested in working together with us.</p>
                </div>
            </div>
        </section>
        <section class="wrapper--wide">
            <h1 class="header--centered">Core Team</h1>
            <ul class="cards cards--load-fade-in">

                {% capture carTwoContent %}
                <div class="card__intro">
                    <p>Technology Lead &amp; Co-Founder</p>
                    <p>Mannheim, Germany</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Etienne Dilocker"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="/img/people/etienne.jpg"
                    imgAlt="Etienne Dilocker"
                    linkUrl='https://www.linkedin.com/in/etienne-dilocker-60727b175/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carTwoContent
                %}

                {% capture carThreeContent %}
                <div class="card__intro">
                    <p>Solution Engineer</p>
                    <p>Utrecht, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Felix Finkbeiner"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="/img/people/felix.jpg"
                    imgAlt="Felix Finkbeiner"
                    linkUrl='https://www.linkedin.com/in/felix-finkbeiner/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carThreeContent
                %}
            
                {% capture carTwoContent %}

                <div class="card__intro">
                    <p>Community Solution Engineer</p>
                    <p>Helsinki, Finland</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Laura Ham"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="/img/people/laura.jpg"
                    imgAlt="Laura Ham"
                    linkUrl='https://www.linkedin.com/in/laura-ham/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carTwoContent
                %}

                {% capture carThreeContent %}
                <div class="card__intro">
                    <p>Product, Commercial, and Community Lead &amp; Co-Founder</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Bob van Luijt"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    inverted=false
                    imgUrl="/img/people/bob.jpg"
                    imgAlt="Bob van Luijt"
                    linkUrl='https://www.linkedin.com/in/bobvanluijt/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carThreeContent
                %}

                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Finance and Operations Lead &amp; Co-Founder</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Micha Verhagen"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    imgUrl="/img/people/micha.jpg"
                    imgAlt="Micha Verhagen"
                    linkUrl='https://www.linkedin.com/in/michaverhagen/'
                    linkExternal=true
                    ctaText="Contact me on LinkedIn"
                    content=carOneContent
                %}

                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Let us know how you can help!</p>
                    <p>&nbsp;</p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="You?"
                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                    imgUrl="/img/question-mark.svg"
                    imgAlt="You?"
                    linkUrl='mailto:hello@semi.technology'
                    linkExternal=true
                    ctaText="email us on hello@semi.technology"
                    content=carOneContent
                %}
                
            </ul>
        </section>

        <section class="wrapper--wide">
            <h1 class="header--centered">Sales Partners</h1>
            <ul class="cards cards--load-fade-in">
                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Sales Partner USA</p>
                    <p>New York, USA</p>
                </div>
                {% endcapture %}
        
                {% include components/card/card.html
                                    title="Oliver Christie"
                                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                                    imgUrl="/img/people/oliver.jpg"
                                    imgAlt="Oliver Christie"
                                    linkUrl='https://www.linkedin.com/in/oliverchristie/'
                                    linkExternal=true
                                    ctaText="Contact me on LinkedIn"
                                    content=carOneContent
                                %}
        
                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Sales Partner Europe</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}
        
                {% include components/card/card.html
                                    title="David van Damme"
                                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                                    imgUrl="/img/people/david.jpg"
                                    imgAlt="David van Damme"
                                    linkUrl='https://www.linkedin.com/in/davidvandamme/'
                                    linkExternal=true
                                    ctaText="Contact me on LinkedIn"
                                    content=carOneContent
                                %}
        
                {% capture carOneContent %}
                <div class="card__intro">
                    <p>Sales Partner Europe</p>
                    <p>Amsterdam, The Netherlands</p>
                </div>
                {% endcapture %}
        
                {% include components/card/card.html
                                    title="Edwin Gierstberg"
                                    themeClass="card-white card--pilar card--theme-weaviate-oss"
                                    imgUrl="/img/people/edwin.jpg"
                                    imgAlt="Edwin Gierstberg"
                                    linkUrl='https://www.linkedin.com/in/edwingierstberg/'
                                    linkExternal=true
                                    ctaText="Contact me on LinkedIn"
                                    content=carOneContent
                                %}
        
            </ul>
        </section>
    </div>
</article>