---
layout: layout-default
title: SeMI, pricing
mainClass: wrapper--wide
---

<article>
    <div class="page--background__first">
        <div class="container">
            <div class="wrapper">
                {% include organism-product-top.html
                    title="Pricing Calculator"
                    intro="To be able to provide you with a performace that matches your needs we're going to ask you a couple of questions? Based on your answers we will recommend a setup and show you an approximate price for your estimated usage."
                %}
            </div>
        </div>
    </div>

    <div class="layout layout--height-uneven">
        <!-- TODO: remove inline styling -->
        <div class="layout__content" style="padding-right:2em">
            <form id="js-form-pricing" class="form-stepper">
                <fieldset id="use-case" class="form-stepper__step form-stepper-bottom-margin" data-step="use-case" role="radiogroup" aria-labelledby="label-use-case">
                    <legend>
                        <h2 id="label-use-case">Use case selection</h2>
                        <p>What are you using Weaviate for? Select the use case that best describes your situation.</p>
                    </legend>

                    <ul class="list-ui list-buttons-radio">
                        {% comment %}Note: To edit this, look for the file './_data/pricingUseCases.json'{% endcomment %}
                        {% for useCase in site.data.pricingUseCases.useCases[0] %}
                            {% assign useCaseKey = useCase[0] %}
                            <li>
                                <button class="ui-button" type="button" role="radio" aria-checked="false" data-use-case="{{useCaseKey}}">
                                    <span class="ui-button__radio-icon"></span>
                                    <span class="ui-button__title">{{useCase[1].title}}</span>
                                    <span class="ui-button__desc">{{useCase[1].shortDesc}}</span>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>

                    <div id="container-pricing-use-case">
                        <div class="panel-collapse template-pricing-use-case--hidden" id="template-pricing-use-case">
                            <div class="panel-collapse__head">
                                <p class="use-case-panel-label"></p>
                            </div>
                            <div class="pricing__info">
                                <p class="use-case-panel-description"></p>
                            </div>
                            <table class="table-pricing table-zebra">
                                <thead>
                                    <tr class="table-pricing__row">
                                        <td class="table-pricing__column"><strong>Feature</strong></td>
                                        <td class="table-pricing__column"><strong>Cost per call</strong></td>
                                        <td class="table-pricing__column"><strong>Estimated nr. of API calls</strong></td>
                                    </tr>
                                </thead>
                                <tbody class="table-row-container">
                                    <tr class="table-pricing__row template-table-pricing-row template-table-pricing-row--hidden">
                                        <td class="table-pricing__column">
                                            <p class="feature-label"></p>
                                            <p class="feature-description"></p>
                                        </td>
                                        <td class="table-pricing__column feature-cpc price"></td>
                                        <td class="table-pricing__column feature-average"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-stepper__step form-stepper__step--hide" data-step="hosting-preference" role="radiogroup" aria-labelledby="label-hosting-preference">
                    <legend>
                        <h2 id="label-hosting-preference">Hosting and Optimization</h2>
                        <p>Would you like SeMI to host data in your behalf?</p>
                    </legend>
                    <ul class="list-ui list-buttons-radio">
                        <li>
                            <button class="ui-button" type="button" role="radio" data-target-show-options="hosting-by-semi" aria-checked="false">
                                <span class="ui-button__radio-icon"></span>
                                <span class="ui-button__title">Yes</span>
                            </button>
                        </li>
                        <li>
                            <button class="ui-button" type="button" role="radio" data-target-show-options="hosting-by-customer" aria-checked="false">
                                <span class="ui-button__radio-icon"></span>
                                <span class="ui-button__title">No</span>
                            </button>
                        </li>
                    </ul>
                </fieldset>

                <div id="hosting-by-semi" class="form-stepper__optional form-stepper__step--hide">
                    <fieldset class="form-stepper__step form-stepper__step--hide form-stepper__step--child" data-step="hosting-semi-preference-platform" role="radiogroup" aria-labelledby="label-hosting-preference-platform">
                        <legend>
                            <h2 id="label-hosting-preference-platform">Hosting Platform</h2>
                            <p>Do you have a platform preference regargin the hosting?</p>
                        </legend>
                        <ul class="list-ui list-buttons-radio" id="container-pricing-platform-button">
                            <li id="template-pricing-platform-button" class="pricing-hosting-button--hide">
                                <button class="ui-button" type="button" role="radio" aria-checked="false">
                                    <span class="ui-button__radio-icon"></span>
                                    <span class="ui-button__title"></span>
                                </button>
                            </li>
                        </ul>
                    </fieldset>

                    <fieldset class="form-stepper__step form-stepper__step--hide form-stepper__step--child" data-step="hosting-semi-optimisation" role="radiogroup" aria-labelledby="label-optimized">
                        <legend>
                            <h2 id="label-optimized">Optimization preferences</h2>
                            <p>What would you want your Weaviate to be optimized for?</p>
                        </legend>
                        <ul class="list-ui list-buttons-radio" id="container-pricing-optimization-button">
                            <li id="template-pricing-optimization-button" class="pricing-hosting-button--hide">
                                <button class="ui-button" type="button" role="radio" aria-checked="false">
                                    <span class="ui-button__radio-icon"></span>
                                    <span class="ui-button__title"></span>
                                </button>
                            </li>
                        </ul>
                    </fieldset>
                </div>

                <div id="hosting-by-customer" class="form-stepper__optional form-stepper__step--hide">
                    <fieldset class="form-stepper__step form-stepper__step--hide form-stepper__step--child" data-step="hosting-customer-platform" role="radiogroup" aria-labelledby="label-hosting-customer-platform">
                        <legend>
                            <h2 id="label-customer-platform">Hosting Platform</h2>
                            <p>To pre-empt any potential challenges with your deployment, could you indicate what platform(s) you will be hosting the weaviate(s)?</p>
                        </legend>
                        <ul class="list-ui list-buttons-radio" id="container-pricing-customer-button">
                            <li id="template-pricing-customer-button" class="pricing-hosting-button--hide">
                                <button class="ui-button" type="button" role="radio" aria-checked="false">
                                    <span class="ui-button__radio-icon"></span>
                                    <span class="ui-button__title"></span>
                                </button>
                            </li>
                        </ul>
                        <label for="hostingByCustomerOtherPlatform">Other:</label>
                        <input type="text" id="hostingByCustomerOtherPlatform" name="hostingByCustomerOtherPlatform">
                    </fieldset>
                </div>

                <fieldset class="form-stepper__step form-stepper__step--hide" data-step="clusters" role="radiogroup" aria-labelledby="label-hosting-preference-platform">
                    <legend>
                        <h2 id="label-clusters">Clusters</h2>
                        <p>Number of clusters</p>
                    </legend>
                    <ul class="list-ui list-buttons-radio" id="container-pricing-cluster-button">
                        <li id="template-pricing-cluster-button" class="pricing-hosting-button--hide">
                            <button class="ui-button" type="button" role="radio" aria-checked="false">
                                <span class="ui-button__radio-icon"></span>
                                <span class="ui-button__title"></span>
                            </button>
                        </li>
                    </ul>
                </fieldset>

                <fieldset class="form-stepper__step form-stepper__step--hide" data-step="contextionaries" role="radiogroup" aria-labelledby="label-hosting-preference-platform">
                    <legend>
                        <h2 id="label-contextionary">Training the contextionary</h2>
                        <p>The way you set up the contextionary will depend on the diversity of the data, updating of the data and the type of industry (jargon) you operate in. Knowing this, how will you train the contextionary?</p>
                    </legend>
                    <ul class="list-ui list-buttons-radio" id="container-pricing-contextionary-button">
                        <li id="template-pricing-contextionary-button" class="pricing-hosting-button--hide">
                            <button class="ui-button" type="button" role="radio" aria-checked="false">
                                <span class="ui-button__radio-icon"></span>
                                <span class="ui-button__title"></span>
                            </button>
                        </li>
                    </ul>
                </fieldset>

                <fieldset class="form-stepper__step form-stepper__step--hide" data-step="weaviates" role="radiogroup" aria-labelledby="label-weaviates">
                    <legend>
                        <h2 id="label-weaviates">Number of Weaviates</h2>
                        <p>How many Weaviates (1 single dataset = 1 weaviate) will you be requiring?</p>
                    </legend>
                    <ul class="list-ui list-buttons-radio" id="container-pricing-weaviate-button">
                        <li id="template-pricing-weaviate-button" class="pricing-hosting-button--hide">
                            <button class="ui-button" type="button" role="radio" aria-checked="false">
                                <span class="ui-button__radio-icon"></span>
                                <span class="ui-button__title"></span>
                            </button>
                        </li>
                    </ul>
                </fieldset>

                <fieldset class="form-stepper__step form-stepper__step--hide" data-step="network-nodes" role="radiogroup" aria-labelledby="label-network-nodes">
                    <legend>
                        <h2 id="label-network-nodes">Network Nodes</h2>
                        <p>Will you be making use of any of the pre-filled network nodes?</p>
                    </legend>
                    <ul class="list-ui list-buttons-radio" id="container-pricing-notwork-nodes-button">
                        <li id="template-pricing-network-nodes-button" class="pricing-hosting-button--hide">
                            <button class="ui-button" type="button" role="radio" aria-checked="false">
                                <span class="ui-button__radio-icon"></span>
                                <span class="ui-button__title"></span>
                            </button>
                        </li>
                    </ul>
                </fieldset>

            </form>
        </div>
        {% include components/pricing/molecule-receipt.html %}
    </div>
</article>
