---
bodyclass: ["page--products", " ", "page--products-index"]
layout: layout-default
title: Discover our products
description: Weaviate products and knowledge network offerings
og-img: products.jpg
---

<article>
    <div class="container background-hexagon">
        <section class="layout layout--single section-page-intro">
            <div class="section-standout__text--centered space-header-page">
                <!-- <h1 class="title-page header--centered">Core products</h1> -->
                <h1 class="title-page header--centered">Discover our products</h1>
                <div class="section-standout__text--centered">
                    <p>Our core product suite consists of the Weaviate Smart Graph and Knowledge Networks based on Weaviate.</p>
                </div>
            </div>
        </section>
        <section class="wrapper--wide">
            <ul class="cards cards--load-fade-in">
                {% capture carOneContent %}
                    <div class="card__intro">
                        <p><b>Learn more about our offerings of the Weaviate Smart Graph from open source to enterprise.</b></p>
                    </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Weaviate"
                    themeClass="card-white card--pilar card--theme-weaviate"
                    imgUrl="/img/logo-weaviate-emblem-color.svg"
                    imgAlt="Weaviate for the logo"
                    linkUrl="/products/weaviate/"
                    linkExternal=false
                    ctaText="Click to learn more about Weaviate Enterprise"
                    content=carOneContent
                %}
                {% capture carTwoContent %}
                    <div class="card__intro">
                        <p><b>P2P networks based on Weaviate to securely share data and knowledge between organizations.</b></p>
                    </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Knowledge Networks"
                    themeClass="card-white card--pilar card--theme-weaviate"
                    imgUrl="/img/logo-icon-weaviate-network.svg"
                    imgAlt="Knowledge Network logo"
                    linkUrl="/newsletter"
                    linkExternal=false
                    ctaText="Soon to be released, click to stay in the know"
                    content=carTwoContent
                %}
                
            </ul>
        </section>
    </div>
</article>
