---
bodyclass: ["page--products", " ", "page--products-index"]
layout: layout-default
title:  our products
description: An overview of SeMI's products.
open-graph-type: product
og-img: products.jpg
---

<article>
    <div class="container background-hexagon">
        <section class="layout layout--single section-page-intro">
            <div class="section-standout__text--centered space-header-page">
                <h1 class="title-page header--centered">Core products</h1>
                <div class="section-standout__text--centered">
                    <p>Our core product suite consists of the Weaviate knowledge graph and Knowledge Networks based on Weaviate. To help you integrate our solutions in your organization, we offer the help of Solution Engineers.</p>
                </div>
            </div>
        </section>
        <section class="wrapper--wide">
            <ul class="cards cards--load-fade-in">
                {% capture carOneContent %}
                    <div class="card__intro">
                        <p><b>The power of the Weaviate knowledge graph for the enterprise.</b></p>
                    </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Weaviate Enterprise"
                    themeClass="card-white card--pilar card--theme-weaviate"
                    imgUrl="/img/logo-icon-weaviate-enterprise.svg"
                    imgAlt="Weaviate for the Enterprise logo"
                    linkUrl="/products/weaviate.html"
                    linkExternal=false
                    ctaText="Explore Weaviate Enterprise"
                    content=carOneContent
                %}
                {% capture carTwoContent %}
                    <div class="card__intro">
                        <p><b>P2P networks based on Weaviate to securely share data and knowledge between organizations.</b></p>
                    </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Knowledge Networks"
                    themeClass="card-white card--pilar card--theme-weaviate"
                    imgUrl="/img/logo-icon-weaviate-network.svg"
                    imgAlt="Knowledge Network logo"
                    linkUrl="/products/networks.html"
                    linkExternal=false
                    ctaText="Explore Knowledge Networks"
                    content=carTwoContent
                %}

                {% capture carThreeContent %}
                    <div class="card__intro">
                        <p><b>Our solution engineers can help to integrate Weaviate and Weaviate Knowledge Networks into your business.</b></p>
                    </div>
                {% endcapture %}

                {% include components/card/card.html
                    title="Solution Engineers"
                    themeClass="card--pilar card--theme-weaviate-enterprise"
                    inverted=true
                    imgUrl="/img/logo-solution-engineering-logomark-color.svg"
                    imgAlt="SeMI Solution Engineers"
                    linkUrl="/products/solution-engineers.html"
                    linkExternal=false
                    ctaText="Explore Solution Engineering"
                    content=carThreeContent
                %}
            </ul>
        </section>
    </div>
    <section class="space-layout--bottom container">
        <div class="wrapper">
            <div class="layout layout--single">
                <div class="space-header-section header--centered">
                    <h1 class="title-page header--centered">Add-ons &amp; Point Solutions</h1>
                    <div class="section-standout__text--centered">
                        <p>Our every growing market place of add-ons and points solutions for Weaviate.</p>
                    </div>
                </div>
            </div>
            {% include organism-cards-products-point-solutions.html %}
        </div>
    </section>
</article>
