---
bodyclass: ["page--products", " ", "page--products--weaviate"]
layout: layout-default
title: Weaviate
description: Information about the Weaviate Knowledge Graph
open-graph-type: product
og-img: products.jpg
---

<article>
    <div class="page--background__first">
        <div class="container">
            <div class="wrapper">
                {% include organism-product-top.html
                    productLogoSrc='/img/logo-icon-weaviate-enterprise.svg'
                    productLogoAlt='Weaviate logo'
                    title='Weaviate'
                    payoff='Building your knowledge graph never has been this simple.'
                    intro='<a href="">Core Features</a> &bull; <a href="">Customers</a><br><a href="">Runs Everywhere (SaaS)</a> &bull; <a href="">Weaviate Cluster Service (PaaS)</a><br><a href="">Feature List</a> &bull; <a href="">Pricing</a>'
                %}
                <div class="page-fadein--third">

                        {% include molecule-section-heading.html
                            title='Core Features'
                        %}

                        <section class="layout layout--double">
                            <div class="layout__column">
                                <h3 class="space-header-column title-column">Semantic Search</h3>
                                <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                            </div>
                            <div class="layout__column">
                                    <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                            </div>
                        </section>

                        <section class="layout layout--double">
                            <div class="layout__column">
                                <h3 class="space-header-column title-column">Automatic Classification</h3>
                                <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                            </div>
                            <div class="layout__column">
                                    <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                            </div>
                        </section>

                        <section class="layout layout--double">
                            <div class="layout__column">
                                <h3 class="space-header-column title-column">Knowledge Representation</h3>
                                <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                            </div>
                            <div class="layout__column">
                                    <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                            </div>
                        </section>










                    
                    {% include molecule-section-heading.html
                        title='Runs everywhere'
                    %}

                    <section class="layout layout--double">
                        <div class="layout__column">
                            <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                        </div>
                        <div class="layout__column">
                            <h3 class="space-header-column title-column">Support for different clouds</h3>
                            <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                        </div>
                    </section>




                    {% include molecule-section-heading.html
                        title='Our customers'
                    %}

                    <section class="layout layout--double">
                        <div class="layout__column">
                            <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                        </div>
                        <div class="layout__column">
                            <h3 class="space-header-column title-column">Support for different clouds</h3>
                            <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                        </div>
                    </section>



                    {% include molecule-section-heading.html
                        title='Integrations'
                    %}

                    <section class="layout layout--double">
                        <div class="layout__column">
                            <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                        </div>
                        <div class="layout__column">
                            <h3 class="space-header-column title-column">Support for different clouds</h3>
                            <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                        </div>
                    </section>

                    




                    <p>Weaviate Enterprise gives you all the value of the open-source product, but with the safety and support, you need as an enterprise user. </p>

                    {% include section-feature-table.html highlightEnterprise = false %}

                    {% include molecule-section-heading.html
                        title='Pricing'
                    %}

                    <section class="layout layout--double">
                        <div class="layout__column">
                            <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                        </div>
                        <div class="layout__column">
                            <h3 class="space-header-column title-column">Support for different clouds</h3>
                            <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</article>
