---
bodyclass: ["page--products", " ", "page--products--weaviate"]
layout: layout-default
title: Weaviate
description: The Decentralized Knowledge Graph
open-graph-type: product
og-img: products.jpg
---

<article>
    <div class="page--background__first">
        <div class="container">
            <div class="wrapper">
                {% include organism-product-top.html
                    productLogoSrc='/img/logo-icon-weaviate-enterprise.svg'
                    productLogoAlt='Weaviate logo'
                    title='Weaviate'
                    payoff='Building your knowledge graph never has been this simple.'
                    intro='Weaviate is an API based knowledge graph which runs on every major cloud provider or on-premise to give you complete control over your data. Weaviate allows you to capture valuable insights from your datasets in a unique way powered by its Contextionary. Weaviate is easy to use and can be integrated into any platform or application.'
                %}
                <div class="page-fadein--third">
                    <!--p>Weaviate meshes all your data and makes it available as one seamless source of knowledge for contextualized research, reporting, and re-use</p-->
                    {% include molecule-section-heading.html
                        title='The enterprise ready solution'
                    %}

                    <section class="layout layout--double">
                        <div class="layout__column">
                            <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                        </div>
                        <div class="layout__column">
                            <h3 class="space-header-column title-column">Support for different clouds</h3>
                            <p>Weaviate Enterprise supports multiple cloud vendors including: Google, AWS, and, Azure. This gives you complete control over your datasets.</p>
                        </div>
                    </section>

                    <section class="layout layout--double layout--double-reverse">
                        <div class="layout__column">
                            <iframe class="section--img-playground" width="100%" height="292" src="https://www.youtube.com/embed/5bqpcIX2VDQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="layout__column">
                            <h3 class="space-header-column title-column">Learn how Weaviate can help your organisation</h3>
                            <p>In this video, you'll get a quick understanding of the power of the Weaviate knowledge graph and how SeMI can help you achieve your data challenges.</p>
                        </div>
                    </section>

                    {% include section-feature-table.html
                            highlightEnterprise = false %}
                    {% include section-contact-us.html %}
                </div>
            </div>
        </div>
    </div>
</article>
