---
bodyclass: page--console
layout: layout-default
title:  console login
description: Console
---

{% comment %}
<!--
    Please note that all the custom console page elements
    are prefixed with 'tmp-'. These are elements that are
    custom for this page. They are defined in the SCSS
    file: '_template-console.scss', and are possible
    prospects for general production styling. However,
    since the console will be eventually build in a react
    application, this styling will perhaps be deprecated.
-->
{% endcomment %}

<article>
    <section class="tmp-app-nav">
        <div class="container">
            <div class="wrapper">
                <div class="tmp-tab-group">
                    <div class="tmp-tab">
                        <span class="tmp-tab__label tmp-tab__label--active">Dashboard</span>
                    </div>
                    <div class="tmp-tab">
                        <span class="tmp-tab__label">Invoices</span>
                    </div>
                    <div class="tmp-tab tmp-tab--pull-right">
                        <span class="tmp-tab__label">Log Out</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="wrapper">
            <section>
                <h1 class="tmp-a11y-hide-element">Dashboard</h1>
                <div class="tmp-filters">
                    <select class="tmp-filters__select">
                        <option selected="selected">All weaviates</option>
                        <option>Another option</option>
                    </select>
                    <select class="tmp-filters__select">
                        <option selected="selected">Past month</option>
                        <option>Another option</option>
                    </select>
                </div>
                <section class="tmp-section-page">
                    <h2 class="tmp-typography-heading-3">Weaviate Clusters</h2>
                    <div class="tmp-card-paper">
                        <div class="tmp-table-container">
                            <table class="tmp-table-data">
                                <thead>
                                    <tr>
                                        <th>Cluster Name</th>
                                        <th>Cluster Type</th>
                                        <th>Network Name</th>
                                        <th>Plugins</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in site.data.console %}
                                    <tr>
                                        <th>{{ item.cluster_name }}</th>
                                        <td>{{ item.cluster_type }}</td>
                                        <td>{{ item.network_name }}</td>
                                        <td>
                
                                            {% for plugin in item.plugins %}
                                            <div class="tmp-label">{{ plugin }}</div>
                                            {% endfor %}
                
                                        </td>
                                        <td class="tmp-table-data__cell-with-img">
                                            {% include molecule-ui-icon-edit.html %}
                                        </td>
                                        <td class="tmp-table-data__cell-with-img">
                                            {% include molecule-ui-icon-options.html %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <td colspan="2">
                                        <button class="button--small">Create New Weaviate Cluster</button>
                                    </td>
                                    <td colspan="3" class="tmp-table-data__cell--align-right">
                                        <span class="tmp-table-data__pagination">1-10 of 100</span>
                                        <span class="tmp-table-data__prev-next tmp-table-data__prev-next--disabled">
                                            {% include molecule-ui-icon-left.html %}
                                        </span>
                                        <span class="tmp-table-data__prev-next">
                                            {% include molecule-ui-icon-right.html %}
                                        </span>
                                    </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </section>
                <section class="tmp-section-page">
                    <h2 class="tmp-typography-heading-3">Spending</h2>
                    <div class="layout">
                        <div class="tmp-layout-aside">
                            <div class="tmp-card-paper tmp-card-data-summary">
                                <p class="tmp-text-jumbo">$ 15,023</p>
                                <p><small>[invoice text]</small></p>
                            </div>
                            <!-- <div class="tmp-card-paper tmp-card-data-summary">
                                <p class="tmp-text-jumbo">4,220 USD</p>
                                <p><small>Total costs of API consumption</small></p>
                            </div> -->
                        </div>
                        <div class="tmp-layout-main">
                            <div class="tmp-card-paper">
                                <p>Place uptime graph here</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</article>